/*
Theme Name: Verito Child
Theme URI: http://wordpress.magikthemes.com/verito
Author: MagikCommerce
Author URI: https://www.magikcommerce.com/
Description: Verito Woocommerce Child Theme
Template: verito
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns,  left-sidebar,  accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: verito-child

*/


/*************** ADD YOUR CUSTOM CSS HERE  ***************/

/* header */

div.header-top {
	background-color: #71b6b6;
}
div.header-top .block-language,
div.header-top ul.top-links1 li a {
	color: #fff;
}
div.logo a.logo img {
	width: 114px;
}

/* menus */

div.block-company-wrapper {
	margin-right: 5px;
}
ul#menu-topmenu {
    padding-right: 0px;
}
ul#menu-topmenu li.menu-item {
	margin-right: 15px;
}
ul#menu-topmenu li.menu-item a {
	box-shadow: 2px 4px 8px 2px #d0d0d0;
    	border-radius: 25px;
    	height: 30px;
    	line-height: 0.8;
    	padding-left: 12px;
    	padding-right: 12px;
}

ul#menu-topmenu li.menu-item.active a,
ul#menu-topmenu li.menu-item a:hover {
	background-color: #718d39;
    	color: #fff;
}

/* search */

div.search-box {
	border: 0px;
	border-radius: 25px 0px 0px 25px;
	background-color: #fff;
    	box-shadow: 2px 4px 8px 2px #d0d0d0;
}
.search-box input.mgksearch,
button.search-btn-bg {
	height: 30px;
}
button.search-btn-bg {
    	padding-left: 10px;
	background-color: #718d39;
}
button.search-btn-bg span.glyphicon-search:before {
    	color: #fff;
}
.search-btn-bg span.glyphicon {
	/* top: -1px */
}

/* mini cart */

div.mini-cart div.dropdown-toggle {
 	height: 30px;
    	background-color: #efefef;
    	box-shadow: 2px 4px 8px 2px #d0d0d0;
    	border-radius: 25px;
}
div.mini-cart div.dropdown-toggle.basket a {
    	height: 24px;
    	line-height: 28px;
}
div.mini-cart div.dropdown-toggle.basket a .cart_count,
div.mini-cart div.dropdown-toggle.basket a .price {
    	color:#858585;
}
div.top-cart-content{
	top: 31px;
}
div.top-cart-contain {
 	   /*margin-top: 22px;*/
}
div.top-cart-contain.sticky-topcart {
 	   margin-top: 5px;
}
nav.navcls {
	display:none;
}

/* slide */

#magik-slideshow {
    background-color: #efefef;
}


/* content */



/* footer */

.footer-bottom p {
	color: #ffffff;
    	margin-top: 10px;
}
div.footer-bottom {
	padding: 0px;	
}

/* suscribe form */

#mc4wp-form-1.mc4wp-form input[type=email] {
    	height: 32px;
    	text-align: center;
    	width: 85% !important;
	border-radius: 25px 0px 0px 25px;
	box-shadow: 2px 4px 8px 2px #d0d0d0;
}
#mc4wp-form-1.mc4wp-form input[type=submit]{
    	height: 32px;
    	width: 15% !important;
    	padding-left: 1px;
    	padding-right: 1px;
    	line-height: 12px;
    	border: 0px;
	background-color: #718d39;
	box-shadow: 2px 4px 8px 2px #d0d0d0;
}
a#toTop {
    background-color: #718d39;
}
a#toTop:hover {
    background-color: rgba(113, 141, 57, 0.7);
}