/*
Theme Name: Verito
Theme URI: http://wordpress.magikthemes.com/verito
Author: MagikCommerce
Author URI: http://www.magikcommerce.com/
Description: Verito wordpress Theme
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns,  left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: verito
*/
/* TABLE OF CONTENTS

1.      BODY
2.      LAYOUT
2a.     Base Columns
2b.     1 Column Layout
2c.     2 Column Layout
2d.     3 Column Layout


*/
/* BEGIN OF STYLING */

/* 1. BODY */
body {
    color: #333;
    font-size: 13px;
    font-family: calibri !important;
    padding: 0;
    margin: auto;
    line-height: 1.55;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover, a:focus {
/*color: #da2c2a;*/
    /*text-decoration: underline;*/
}
legend {
    display: none;
}
/* 2.  LAYOUT */


/* 2a. Base Columns */
.col-left {
    margin-bottom: 0px;
}
.col-main {
}
.col-right {
    margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
    margin: 20px;
    padding: 0;
}
.col1-layout .col-main {
    float: none;
    width: auto;
}
/* 2c. 2 Column Layoutt */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
    margin-right: 15px;
}
/* 2d. 3 Column Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
    float: left;
    width: 780px;
}
.col3-layout .col-wrapper .col-main {
    float: right;
}
.product-essential .variations_form .variations {
    margin-bottom: 10px;
}
.woocommerce-main-image img.moreview_source_image {
    display: none !important;
}
.page-editlink {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-table tbody td.image a img {
    width: 80px !important;
    max-width: 80px !important;
    height: auto !important;
}
.author-bio .author-link {
    color: #649a1d;
    margin-top: 5px;
    display: block;
}
/* instagram css */

.social .instagram a {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 18px;
    display: inline-block!important;
    text-align: center;
    padding: 0;
}
.social .instagram a:before {
    content: "\f16d";
    font-family: FontAwesome;
}
.social .instagram a:hover {
    background: #5484ab !important;
}


/* * * * * CUSTOM STYLES * * * * */

a:focus {
    color: inherit !important;
    text-decoration: none !important;
}

.woocommerce div.woocommerce-message a.button {
    background-color: #718d39 !important;
    border: 1px solid #718d39 !important;
    border-radius:25px !important;
}
/* FONTS */
@font-face {
    font-family: Helvetica_Thin;
    src: url(fonts/HELVETICANEUELTSTD-TH.OTF);
}

/* Distibuting contact form */

.distributing-contact-form {
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    padding-left: 50%;
    top: 0px;
}
.distributing-contact-form-content {
    background-color: #fff;
    margin-left: -150px;
    margin-top: 15%;
    width: 300px;
    box-shadow: 2px 4px 15px 3px #353535;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.distributing-contact-form.hidden-form {
    display:none;
}
.distributing-contact-form .nf-form-title h3 {
    background-color: #718d39;
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 10px 15px;
}
.distributing-contact-form .close-form {
    position: absolute;
    /*right: 5px;*/
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    border: 1px solid;
    border-radius: 25px;
    padding: 0px 7px;
    cursor: pointer;
    margin-top: 6px;
    margin-left:270px;
}
.distributing-contact-form .nf-response-msg {
    padding: 10px;
}
.distributing-contact-form .nf-form-cont .nf-field-container {
    margin-bottom: 0px;
    padding: 0px 15px;
}
.distributing-contact-form .nf-field-container .nf-after-field {
    display: none;
}
.distributing-contact-form .nf-field-container.label-right .nf-field-label {
    right:10px;
}
.distributing-contact-form .nf-field-container.email-container, 
.distributing-contact-form .nf-field-container.phone-container, 
.distributing-contact-form .nf-field-container.textarea-container {
    width:100%;
}
.distributing-contact-form .nf-field-container .ninja-forms-field {
    font-size:14px;
    margin: 5px 0px;
    padding: 6px 12px;
    letter-spacing: 0.2px;
}
.distributing-contact-form .nf-field-container .nf-field-element textarea {
    height: 100px;
}
.distributing-contact-form .nf-after-form-content {
    padding: 5px 15px;
}

/* header */

div.block-language-wrapper {
    margin-top: 14px;
}
div.header-top {
    background-color: #fff;
    border-bottom:0px;
}
div.header-top .block-language,
div.header-top ul.top-links1 li a {
    color: #fff;
}
div.logo {
    margin-top: 5px;
}
div.logo a.logo img {
    width: 150px;
    height: auto;
}
div.logo span {
    text-transform: uppercase;
    color: #718d39;
    padding-left: 10px;
    font-weight: 300;
    font-family: "Helvetica_Thin";
    letter-spacing: 0.5px;
    font-size: 11px;
}
.logo-block {
    padding-right: 0px;
}
.toplinks div.social {
    display: inline-block;
    width: 44%;
    margin-top: 5px;
    margin-bottom: -10px;
}
.toplinks div.links {
    display: inline-block;
    width: 55%;
}
.toplinks div.social .link a,
.footer-column-last div.social .link a:hover {
    color: #fff;
    border-color: #fff;
    background-color:#71b6b6;
}
.toplinks div.social .link li {
    float:right !important;
}


/* menus */

div.block-company-wrapper {
    margin-right: 5px;
}
ul#menu-main-menu,
ul#menu-user-menu {
    padding-right: 0px;
}
ul#menu-main-menu li.menu-item,
ul#menu-user-menu li.menu-item {
    margin-right: 10px;
}
ul#menu-main-menu li.menu-item a {
    box-shadow: 2px 4px 8px 2px #d0d0d0;
        border-radius: 25px;
        height: 30px;
        line-height: 0.8;
        font-size: 12px;
        letter-spacing: 0.5px;  
        padding-left: 12px;
        padding-right: 12px;
}
ul#menu-main-menu li.menu-item.has-sub > a:after {
    content: '\f0d7';
    font-family: FontAwesome;
    display: inline-block !important;
    margin-left: 10px;
    font-size: 10px;
}
ul#menu-user-menu li.menu-item i {
    display:none;
}
ul#menu-user-menu li.menu-item a {
    background-color: #fff;
    color: #858585;
    box-shadow: 2px 4px 8px 2px rgba(130,130,130,0.5);
    border-radius: 25px;
    height: 24px;
    line-height: 0.2;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: calibri;
}
ul#menu-user-menu li.qtranxs-lang-menu {
    width: auto;
    margin-right:0px;
    float: right;
}
ul#menu-user-menu li.qtranxs-lang-menu > a img {
    margin-left:5px;
}
ul#menu-user-menu li.qtranxs-lang-menu .sub-menu {
    padding: 0px !important;
    min-width: 110px;
}
ul#menu-user-menu li.menu-item.qtranxs-lang-menu a,
ul#menu-user-menu li.menu-item.qtranxs-lang-menu a:hover {
    background-color: transparent;
    box-shadow: none;
    border:0px;
    padding-top: 8px;
    color: #858585;
}
ul#menu-user-menu li.menu-item.qtranxs-lang-menu-item {
    padding-right:0px
}
ul#menu-user-menu li.menu-item.qtranxs-lang-menu-item a img {
    margin-right:10px
}
ul#menu-user-menu li.menu-item.qtranxs-lang-menu-item a {
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
}
ul#menu-user-menu li.menu-item.qtranxs-lang-menu-item a:hover {
    color: #718d39 !important;
}
ul#menu-main-menu li.menu-item.active a,
ul#menu-main-menu li.menu-item a:hover,
ul#menu-user-menu li.menu-item a:hover {
    background-color: #718d39;
        color: #fff;
}
ul#menu-main-menu li.menu-item-has-children .mgk-popup {
    display: none;
    width: 140px;
    position: absolute;
    background-color: #fff;
    z-index: 100000;
    box-shadow: 0 0 15px -7px #666;
}
ul#menu-main-menu li.menu-item-has-children:hover .mgk-popup {
    display:block;
}
ul#menu-main-menu li.menu-item-has-children .mgk-popup a {
    box-shadow:none;
    background-color: transparent;
}
.mgk-popup ul.sub-menu {
    padding:0px;
}
.mgk-popup ul.sub-menu li.menu-item-object-product_cat{
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px #eee solid;
}
ul#menu-main-menu li.menu-item.active li.menu-item-object-product_cat a {
    color:#858585;
}
ul#menu-main-menu li.menu-item.active li.menu-item-object-product_cat a:hover {
    color:#fff;
}
ul#menu-main-menu .mgk-popup ul.sub-menu li.menu-item-object-product_cat:hover,
ul#menu-main-menu .mgk-popup ul.sub-menu li.menu-item-object-product_cat.active {
    background-color: #718d39;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}


/* search */

div.search-box {
    border: 0px;
    border-radius: 25px 0px 0px 25px;
    background-color: #fff;
        box-shadow: 2px 4px 8px 2px #d0d0d0;
}
.search-box input.mgksearch,
button.search-btn-bg {
    height: 30px;
}
.search-box input.mgksearch{
    font-size: 12px;
        letter-spacing: 0.5px;
    text-transform:uppercase;
    padding: 0 15px;
}
button.search-btn-bg {
        padding-left: 10px;
    background-color: #718d39;
}
button.search-btn-bg span.glyphicon-search:before {
        color: #fff;
}

/* mini cart */

div.mini-cart div.dropdown-toggle {
    height: 30px;
        background-color: #efefef;
        box-shadow: 2px 4px 8px 2px #d0d0d0;
        border-radius: 25px;
}
div.mini-cart div.dropdown-toggle.basket a {
        height: 24px;
        line-height: 28px;
    padding:0px 12px;
}
div.mini-cart div.dropdown-toggle.basket a .cart_count,
div.mini-cart div.dropdown-toggle.basket a .price {
        color:#858585;
}
div.mini-cart a.view-cart {
    background: #718d39;
    border: 1px #718d39 solid;
    border-radius: 25px;
}
div.mini-cart div.actions button.btn-checkout {
    border-radius: 25px;
    background: #858585;
    border: 1px solid #858585;
}
div.top-cart-content .product-name a:hover,
.top-cart-content .product-details .btn-edit .icon-pencil:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a:hover {
    color: #718d39;
}
div.top-cart-content{
    top: 30px;
}
div.top-cart-contain {
    /*margin-top: 22px;*/
}
div.top-cart-contain.sticky-topcart {
    margin-top: 5px;
}
.mini-products-list .product-image,
div.top-cart-content a.product-image,
div.top-cart-content div.item-inner > a {
    float:left;
}
.mini-products-list .product-details,
.top-cart-content .product-details {
    margin-left:80px;
}
nav.navcls {
    display:none;
}

/* slide */

#magik-slideshow {
    background-color: #efefef;
}
#magik-slideshow .row > div {
    box-shadow: 0px 10px 25px -5px #d0d0d0;
}
#magik-slideshow a.s-link {
    z-index:-10;
}
a.buy-btn {
    background: #71b6b6;
    border: 1px solid #71b6b6;
    border-radius: 50px;
    box-shadow: 2px 4px 8px 2px #d0d0d0;
    cursor:pointer;
    font-family: calibri;
}
.main-banner-text .tp-caption.LargeTitle, 
.main-banner-text .tp-caption.Title,
.tp-caption.button-suscribe-distribution a.buy-btn {
    text-transform:none;
    font-weight:normal;
    text-align:left;
}
.main-banner-text .tp-caption.Title {
    white-space:normal !important;
}
#rev_slider_4_wrapper .info.main-banner-text.slider-1 {
    width: 400px;
    margin-left: 10%;
    top: 30%;
}
#rev_slider_4_wrapper .info.main-banner-text.slider-2 {
    width: 400px;
    margin-left: 30%;
    top:30%;
}
#rev_slider_4_wrapper .info.main-banner-text.slider-3 {
    width: 620px;
    margin-left: 10%;
    top: 15%;
}
.main-banner-text .tp-caption.LargeTitle {
    /*border-bottom: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #858585 25%, rgba(0,0,0,0) 70%);
    -webkit-border-image: -webkit-linear-gradient(left, #858585 25%, rgba(0,0,0,0) 70%);
    border-image: linear-gradient(to right, #858585 25%, rgba(0,0,0,0) 70%);
    border-image-slice: 1;*/
}
.main-banner-text .tp-caption.LargeTitle span {
    font-size:36px;
    line-height:50px;
    color:#718d39;
    margin-left:-40px;
    letter-spacing:0.5px;
    font-family: "Helvetica_Thin";
    font-weight: 100;
}
.main-banner-text .tp-caption.Title {
    font-size:15px;
    letter-spacing: 0.5px!important;
}
.tp-caption.button-suscribe-distribution a.buy-btn {
    background: #718d39;
    border: 1px solid #718d39;
    padding:10px 20px !important;
    position: absolute;
}
.slider-1 .tp-caption.button-suscribe-distribution a.buy-btn {
    bottom: -170px;
    left: -100px;
}
.slider-2 .tp-caption.button-suscribe-distribution a.buy-btn {
    bottom: -145px;
    left: -350px;
}
.slider-3 .tp-caption.button-suscribe-distribution a.buy-btn {
    bottom: -310px;
    left: -80px;
}
.tp-simpleresponsive .tp-caption.button-suscribe-distribution {
    text-align:left;
}

/* Sub-Banner */

.bottom-banner-section {
    background-color: #f8f8f8;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-family:"Helvetica_Thin";
    min-height: 150px;
    padding-top: 50px;
    color: #71b6b6;
    font-weight:100;
}
html[lang="es-ES"] .bottom-banner-section .banner-inner {
    width: 70%;
    margin-left: 15%;
}
.bottom-banner-section .banner-inner{
    width: 60%;
    margin-left:20%;
}
.bottom-banner-section img{
    display:none;
}

/* content */
.featured-block {
    padding-left:3px;
    padding-right:3px;
}
div.featured-block .block-title h2, 
h2.page-heading .page-heading-title, 
.static-contain .page-title h2 {
    color: #718d39;
    font-family: "Helvetica_Thin";
    font-weight: 100;
    text-transform: none;
    letter-spacing: 0.2px;
}
.woocommerce-order-received div.static-contain h2 {
    font-family: "Helvetica_Thin";
}
div.featured-block .block-title h2 a {
    text-decoration: underline;
    font-size: 18px;
    color: #718d39;
    letter-spacing: 0px;
}
.featured-block .item {
    border: 1px solid #858585;
}
.item-content .action a.button.btn-cart {
    border-radius:25px !important;
    box-shadow: none;
}
.products-grid .item:hover a.button.btn-cart {
    background: #71b6b6 !important;
    color: #fff !important;
    border: 1px #71b6b6 solid !important;
}
.products-grid .item:hover a {
    color: #718d39 !important;
}
.item-img-info .box-hover .add-to-links li a {
    color: #718d39;
}
.item-img-info .box-hover .add-to-links li a:hover:after {
    background: #718d39 !important;
    color: #fff !important;
}
div.box-hover {
    display: none;
}
div.products-grid .item .item-inner .item-info .info-inner .item-title {
    white-space: normal;
    max-height: 55px;
    min-height: 55px;
}
div.products-grid .item .item-inner .item-info .info-inner .item-title a{
    font-size: 14px;
    font-family: "Helvetica_Thin";
}
div.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    max-width: 70%;
}
div.sale-label {
    background-color:#ef4749;
    font-weight: 700;
    font-size:12px;
}
a.button.single_add_to_cart_button {
    font-size:12px!important;
}

/* Quick View */

#yith-quick-view-modal.open .yith-wcqv-main {
    overflow-x:hidden;
}
#yith-quick-view-modal .cart button.single_add_to_cart_button.button{
    border-color: #718d39 !important;
    background-color:#718d39 !important;
    border-radius:25px !important;
}


/* footer */

div.footer-bottom {
    padding: 0px;   
}
footer .container p {
    color: #858585;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer-bottom .container p {
    color: #ffffff;
    margin-top: 10px;
}
.footer-bottom .container a {
    color: #FFF;
    font-size: 15px;
}
footer .footer-inner {
    padding-bottom: 50px;
    margin-bottom: 20px !important;
}
.footer-inner .container .row {
    border-bottom: 1px solid #858585;
}
.footer-inner .footer-column {
    min-height: 138px;
}
.footer-column-last .social,
.footer-column-last #text-2 {
    position: absolute;
    margin-top: 40px;
}
.footer-column-last .social {
    margin-left: -145%;
}
.footer-column-last #text-2 .payment-accept {
    padding-top: 0px;
}
.payment-accept .paypal-logo-payment {
    display: none;
}
.footer-column-last #text-2 .payment-accept img {
    max-width: 15%;
    border-radius: 5px;
}
div.social .link a {
    color: #858585;
    border-color: #858585;
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 24px;
}
div.social h4 {
    display:none;
}
div.footer-column-last {
    padding-top: 40px;
}
#text-5 {
    text-align:right;
}
#text-4 p {
    margin-bottom: 0px;
}

/* suscribe form */

#mc4wp-form-1.mc4wp-form label {
    color: #858585;
    font-weight: 100;
    font-size:14px;
}
#mc4wp-form-1.mc4wp-form input[type=email] {
        height: 32px;
        text-align: center;
        width: 85% !important;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 2px 4px 8px 2px #d0d0d0;
}
#mc4wp-form-1.mc4wp-form input[type=submit],
.suscribe-button.mc4wp-form-submit {
        height: 32px;
        width: 15% !important;
        padding-left: 1px;
        padding-right: 1px;
        line-height: 12px;
        border: 0px;
    background-color: #718d39;
    box-shadow: 2px 4px 8px 2px #d0d0d0;
}
.suscribe-button.mc4wp-form-submit {
    font-size: 22px;
    color: #fff;
}
a#toTop {
    background-color: #718d39;
}
a#toTop:hover {
    background-color: rgba(113, 141, 57, 0.7);
}
html[lang="es-ES"] .en-EN {
    display:none;
}
html[lang="en-US"] .es-ES {
    display:none;
}

/* View Products */
p.availability.in-stock {
    display: none !important;
}
.container .pro-grid {
    padding-left: 30px;
}
.container .pro-grid .term-description{
    display: none;
}
.container .pro-grid .display-product-option{
    width: 78%;
}
.container .sidebar {
    padding-top: 12px;
}
.container .sidebar .block.woocommerce.widget_product_categories {
    margin-bottom: 40px;
}
ul.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    max-width: 60%;
}
ul.products-list .product-image img {
    max-width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}
ul.products-list .item {
    list-style-type:none;
}
.woocommerce-page .widget_products ul.product_list_widget li a:hover,
.widget_product_categories .product-categories li a:hover,
.widget_product_categories .product-categories li.cat-item.current-cat a {
    color:#718d39;
}
.woocommerce-page .widget_products ul.product_list_widget li img {
    width:70px !important;
}
#sort-by select.orderby {
    border-radius: 25px 0px 0px 25px;
}
.display-product-option .toolbar a.button-active.button-grid,
.display-product-option .toolbar a.button-active.button-list {
    background-color: #718d39;
    border: 1px solid #718d39;
}
div.pager li > span.current,
div.pager li > a:hover {
    background-color: #718d39 !important;
}
div.woocommerce-pagination.pager.pages {
    padding-bottom: 15px;
}
.products-list div.actions .action a.add_to_cart_button,
.products-list div.actions .add-to-links a.link-wishlist,
.products-list div.actions .add-to-links a.link-compare,
.woocommerce .product-view .product-shop .cart .single_add_to_cart_button,
.woocommerce #review_form #respond .form-submit input#submit,
.woocommerce .woocommerce-info a.button,
.woocommerce .edit-account input.button,
.woocommerce .wishlist_table td.product-add-to-cart a.button {
    border-radius: 25px !important;
    box-shadow: 2px 4px 8px 2px #d0d0d0;
}
.woocommerce .product-view .product-shop .cart .single_add_to_cart_button {
    background-color: rgba(113, 182, 182, 0.8) !important;
    border-color: rgba(113, 182, 182, 0.8) !important;
}
.woocommerce .product-view .product-shop .cart .single_add_to_cart_button:hover,
.products-list div.actions .action a.add_to_cart_button:hover {
    background-color: #71b6b6 !important;
    border-color: #71b6b6 !important;
}
.products-list div.actions .add-to-links a.link-wishlist:hover,
.products-list div.actions .add-to-links a.link-compare:hover,
.product-view #prev-next.product-next-prev .product-next:hover,
.product-shop #prev-next.product-next-prev .product-prev:hover,
.woocommerce #review_form #respond .form-submit input#submit,
.woocommerce #review_form #respond .form-submit input#submit:hover,
.woocommerce .edit-account input.button:hover,
.featured-pro .slider-items-products .owl-buttons .owl-prev a.flex-prev:hover,
.featured-pro .slider-items-products .owl-buttons .owl-next a.flex-next:hover {
    background-color: #718d39 !important;
    border-color: #718d39 !important;
}
.products-list .item h2.item-title a:hover,
.woocommerce .product-view .product-shop a.add_to_wishlist:hover,
.woocommerce .product-view .product-shop a.compare.button:hover {
    color: #718d39 !important;
}
.woocommerce-tabs .nav-tabs > li.active > a,
.woocommerce-tabs .nav-tabs > li.active > a:hover,
.woocommerce-tabs .nav-tabs > li.active > a:focus,
.woocommerce-tabs .nav-tabs > li > a:hover {
    border-color: #718d39;
    color: #718d39;
}
.woocommerce div.product .product-shop form.cart {
    padding-bottom: 10px;
    margin-bottom: 0px !important;
}
div#productTabContent #tab-description,
#content .page-content {
    font-size: 15px;
    letter-spacing: 0.2px;
}
div#productTabContent h1,
div#productTabContent h4,
.page-template-default .page-content h4 {
    font-family:"Helvetica_Thin";
}    
div#productTabContent h1 {
    font-weight:300;
    font-size:34px;
}
div#productTabContent h4 {
    font-weight:500;
}
div#productTabContent h4 {
    margin-top:30px;
}
div#productTabContent em {
    text-decoration: underline;
}
.product-view .product-name h1.product_title {
    font-family:"Helvetica_Thin";
    font-size:29px;
    text-transform: none;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.product-view .product-shop .short-description ul {
    margin-top: 15px;
}
.product-view .product-shop .short-description,
.product-view .product-shop .short-description p {
    font-size:15px;
}
.single-product.col-main {
    position:relative;
}
.single-product .sidebar {
    position:absolute;
    padding-right: 40px;
    padding-left: 0px;
}
.single-product .product-view,
.single-product .woocommerce-tabs {
    padding-left: 30px;
}
.products-list div.actions .add-to-links a.link-compare,
.product-view .product-shop a.compare.button {
    display: none;
}

/* View Cart */

.woocommerce-cart div.breadcrumbs {
    /*margin: 0px;*/
}
.woocommerce-cart div.breadcrumbs + div.main-container {
    /*margin-top: 0px;*/
}
.woocommerce-cart div.breadcrumbs .container .row {
    /*position: absolute;
    margin-top: 160px;*/
}
.woocommerce-cart .static-contain .page-title {
    /*position: absolute;
    margin-top: 190px;*/
}
.cart-banner-content {
    background-image: url("../../uploads/2016/12/cart-banner.png");
    height: 150px;
    /*width: 140%;
    margin-left: -20%;*/
    margin-bottom: 80px;
    background-position-y: 75%;
    background-size: cover;
    opacity:0.75;
    display:none;
}
.cart-banner-content div {
    color:#fff;
    font-weight: 100;
}
.woocommerce-cart .cart-banner-content div.col-md-4 {
    opacity:0.75;
}
.woocommerce-cart .cart-banner-content div.col-md-4:first-child {
    opacity:1;
}
.cart-banner-content div.col-md-4 {
    padding-top:15px;
    padding-right:0px;
}
div.cart-banner-step-number,
div.cart-banner-step-title {
    display:inline-block;
}
.cart-banner-content .cart-banner-step-number {
    font-size:72px;
    width:34px;
}
.cart-banner-content .cart-banner-step-title {
    font-size:34px;
    margin-top: 18px;
    vertical-align: top;
    margin-left: 2px;
}
.cart-banner-content .cart-banner-step-subtitle {
    font-size:14px;
    margin-left: 42px;
    margin-top: -47px;
}
.woocommerce-cart .woocommerce .cart
.woocommerce-cart .woocommerce .cart .table-responsive {
    overflow: initial;
}
.woocommerce .wc-proceed-to-checkout a.button.btn-proceed-checkout {
    background: rgba(113, 141, 57, 0.8) !important;
    border: 1px rgba(113, 141, 57, 0.8) solid !important;
}
a.button:hover,
button#empty_cart_button.button:hover,
.woocommerce #discount-coupon-form input.button:hover,
#shopping-cart-table button.button.btn-continue,
.woocommerce .cart input.button.btn-update,
.woocommerce .cart input.button.btn-update:hover,
.woocommerce .wc-proceed-to-checkout a.button.btn-proceed-checkout:hover,
.woocommerce .shipping-calculator-form button.button:hover  {
    background: #718d39 !important;
    border: 1px #718d39 solid !important;
}
a.button,
button#empty_cart_button.button,
.woocommerce #discount-coupon-form input.button,
#shopping-cart-table button.button.btn-continue,
.woocommerce .cart input.button.btn-update,
.woocommerce .wc-proceed-to-checkout a.button.btn-proceed-checkout,
.woocommerce .return-to-shop a.button,
.woocommerce .woocommerce-thankyou-order-failed-actions a.button,
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce .shipping-calculator-form button.button {
    border-radius: 25px !important;
    box-shadow: 2px 4px 8px 2px #d0d0d0;
}
input#coupon_code{
    border-radius: 25px;
}
#shopping-cart-table{
    padding-bottom:10px;
}
#shopping-cart-table th:first-child,
.woocommerce-page #content .quantity input.qty,
.woocommerce .summary-content .quantity input.qty,
.woocommerce .product-view .quantity input.qty, 
#order_review .woocommerce-checkout-review-order-table th:first-child,
.shop_table.wishlist_table th:first-child,
.shop_table.order_details th:first-child,
.woocommerce select#calc_shipping_country,
.woocommerce select#calc_shipping_state {
    border-radius: 25px 0px 0px 25px;
}
#shopping-cart-table th:last-child, 
#order_review .woocommerce-checkout-review-order-table th:last-child,
.shop_table.wishlist_table th:last-child,
.shop_table.order_details th:last-child  {
    border-radius: 0px 25px 25px 0px;
}
/*.woocommerce #billing_state_field,
.woocommerce #billing_city_field,*/
.woocommerce #calc_shipping_postcode {
    display: none;
}
.discount label,
.discount input#coupon_code,
#shopping-cart-table th {
    letter-spacing: 0.5px;
    font-size: 14px;
}

/* View Checkout*/
.woocommerce-checkout div.breadcrumbs {
    /*margin: 0px;*/
}
.woocommerce-checkout div.breadcrumbs + div.main-container {
    /*margin-top: 0px;*/
}
.woocommerce-checkout div.breadcrumbs .container .row {
    /*position: absolute;
    margin-top: 160px;*/
}
.woocommerce-checkout .static-contain .page-title {
    /*position: absolute;
    margin-top: 190px;*/
}
.woocommerce-checkout .cart-banner-content div.col-md-4:first-child {
    opacity:0.75;
}
.woocommerce form .form-row label {
    font-size: 14px;
    letter-spacing: 0.5px;
}
.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text{
    border-radius:15px;
} 
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text, 
.woocommerce .form-row input.button {
    border-radius:25px !important;
} 
.woocommerce .form-row input.button {
    box-shadow: 2px 4px 8px 2px #d0d0d0;
} 
.woocommerce .form-row input.button:hover {
    background-color: #718d39 !important;
    border-color: #718d39 !important;
} 
.woocommerce form .form-row .select2-container .select2-choice{
    border-radius: 25px 0px 0px 25px !important;
}


/* Contact page */

.page-id-37 div.breadcrumbs {
    margin: 0px;
}
.page-id-37 div.breadcrumbs + div.main-container {
    margin-top: 0px;
}
.page-id-37 div.breadcrumbs .container .row {
    position: absolute;
    margin-top: 210px;
}
.page-id-37 .static-contain .page-title {
    position: absolute;
    margin-top: 260px;
}
.contact-banner-column {
    background-image: url("../../uploads/2017/02/contact-banner-light.png");
    height: 200px;
    width: 140%;
    margin-left: -20%;
    margin-bottom: 50px;
    background-position-y: 25%;
    background-size: cover;
}
.contact-info-column {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-top: 70px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.contact-form-column {
    width: 65%;
    display: inline-block;    
    border: 1px solid #ddd;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 20px;
}
.nf-form-title h3,
.nf-form-fields-required {
    padding-left:15px;
}
#nf-form-2-cont .nf-loading-spinner {
    display:none;
}
.nf-field-container.firstname-container,
.nf-field-container.lastname-container,
.nf-field-container.email-container,
.nf-field-container.phone-container {
    display:inline-block;
    width:49%;
    vertical-align:top;
    padding: 0px 10px;
} 
.nf-field-container.textarea-container {
    width:98%;
    padding: 0px 10px;
} 
.nf-field-container .ninja-forms-field {
    border-radius:25px;
    border: 1px solid #ddd;
}
.nf-field-container.submit-container {
    text-align:center;
}
input[type="button"].ninja-forms-field {
    box-shadow: 2px 4px 8px 2px #d0d0d0;
    border-radius: 25px;
    height: 30px;
    line-height: 0.8;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border: solid 1px transparent;
    color: #fff;
    background-color: #718d39;
}
input[type="button"].ninja-forms-field:hover {
    background-color: rgba(113, 141, 57, 0.7);
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.nf-field-container.label-right .nf-field-element {
    width:100%;
}
.nf-field-container.label-right .nf-field-label {
    width: 10px;
    position: absolute;
    z-index: 1000;
    right: 5px;
}


@media screen and (max-width: 1300px){

.toplinks div.social {
    width: 54%;
}
.toplinks div.links {
    width: 45%;
}
div.header-container .logo-block {
    width:36%;
    padding-right:0px;
}
div.header-container .container {
    width: 1100px;
}
div.header-container .logo-block span{
    font-size:10px;
}
div.header-container .search-wrapper {
    width:45%;
    padding-left:0px;
    padding-right:3px;
}
div.search-box {
    width:38%;
}
.search-btn-bg span.glyphicon {
    top: -3px; 
}
html[lang="es-ES"] .search-box input.mgksearch {
    padding: 0 10px;
}
ul#menu-main-menu {
    padding: 0px;
}
ul#menu-main-menu li.menu-item {
    margin-right: 10px;
}
div.header-container .top-cart-wrapper {
    width:19%;
}
#rev_slider_4_wrapper .info.main-banner-text.slider-2 {
    width: 400px;
    margin-left: 27%;
    top: 30%;
}
.slider-2 .tp-caption.button-suscribe-distribution a.buy-btn {
    bottom: -145px;
    left: -240px;
}
.bottom-banner-section .banner-inner{
    width: 72%;
    margin-left: 14%;
}   
html[lang="es-ES"] .bottom-banner-section .banner-inner {
    width: 86%;
    margin-left: 7%;
}
.footer-inner .container .col-xs-12 {
    width:50%;
}
.footer-inner .footer-column {
    width:45%;
}
div.footer-column-last {
    padding-top:45px;
}
.footer-inner div.newsletter-wrap {
    width:100%;
}
.footer-column-last .social {
    margin-left:-80%;
    margin-top:120px;
}
.footer-column-last #text-2 {
    margin-top:100px;
}
.footer-column-last .mc4wp-form-fields,
#mc4wp-form-1.mc4wp-form input[type=email] {
    width:80% !important;
}
#mc4wp-form-1.mc4wp-form input[type=submit] {
    width:20% !important;
}
.suscribe-button.mc4wp-form-submit {
    margin-top: 14px;
}

/* Cart */
.cart-banner-content div.col-md-4 {
    padding-top:20px;
}
.cart-banner-content .cart-banner-step-number {
    font-size:64px;
}
.cart-banner-content .cart-banner-step-title {
    font-size:28px;
}
.cart-banner-content .cart-banner-step-subtitle {
    margin-top: -44px;
}
div.mini-cart div.dropdown-toggle.basket a {
    padding: 0px 9px;
}

}

@media screen and (max-width:1150px){

div.header-container .container {
    width: 970px;
}
div.header-container .logo-block {
    width: 30%;
}
div.header-container .search-wrapper {
    width: 51%;
}
div.header-container .logo-block span{
    display:none;
}

.toplinks div.social {
    width: 50%;
}
.toplinks div.links {
    width: 49%;
}
#rev_slider_4_wrapper .info.main-banner-text.slider-1 {
    width: 365px;
    margin-left: 10%;
    top: 25%;
}
.slider-1 .tp-caption.button-suscribe-distribution a.buy-btn {
    bottom: -170px;
    left: -85px;
}

}

@media screen and (max-width:992px){

div.header-container .logo-block {
    width:23%;
}
div.header-container .search-wrapper {
    width:61%;
    padding-right: 0px;
}
div.block-company-wrapper {
    margin-right: 0px;
}
ul#menu-main-menu li.menu-item {
    margin-right: 5px;
}
ul#menu-main-menu li.menu-item a {
    padding-left: 8px;
    padding-right: 8px;
}
div.toplinks {
    text-align: right;
}
.toplinks div.links {
    width: 330px;
}
.toplinks div.social {
    width: 170px;
}
.search-btn-bg span.glyphicon {
    top: 0px; 
}
div.header-container .top-cart-wrapper {
    width: 15%;
    padding-left: 5px;
}
#rev_slider_4_wrapper .info.main-banner-text {
    width: 450px;
}
.bottom-banner-section .banner-inner{
    width: 88%;
    margin-left:6%;
}   
html[lang="es-ES"] .bottom-banner-section .banner-inner {
    width: 110%;
    margin-left: -5%;
}
.footer-inner .footer-column {
    width:46%;
}
.footer-inner .footer-column:first-child {
    margin-left: -50px;
}
.footer-column-last .mc4wp-form-fields {
    width:95% !important;
}
#mc4wp-form-1.mc4wp-form input[type=email] {
    width:80% !important;
}
#mc4wp-form-1.mc4wp-form input[type=submit] {
    width:20% !important;
}
.footer-column-last .social,
.footer-column-last #text-2 {
    margin-top: 30px;
}
div.header-container .container {
     width: 95%; 
}

}


@media screen and (max-width:768px){
div.header-container .logo-block {
    width: 75%;
}
div.header-container .logo-block span{
    display:inline-block;
}
#rev_slider_4_wrapper .info.main-banner-text {
    width: 380px;
}
.bottom-banner-section .banner-inner{
    width: 90%;
    margin-left:5%;
    padding-bottom:30px;
}   
.footer-inner .container .col-xs-12 {
    width: 100%;
}
.footer-inner .footer-column {
    width: 45%;
    padding-left: 20px;
}
div.footer-column-last {
    padding-top: 20px;
    text-align: center;
}
.footer-column-last .mc4wp-form-fields {
    width: 80% !important;
    display: inline-block;
}
.footer-column-last .social {
    margin-left: 5%;
}
.footer-column-last #text-2 {
    margin-left: 35%;
}
#mc4wp-form-1.mc4wp-form input[type=email] {
    width:85% !important;
}
.suscribe-button.mc4wp-form-submit {
    margin-top: 0px;
}
.single-product .sidebar {
    position:relative;
}
}


@media screen and (max-width:480px){
    div.magik-slideshow .row {
        margin: 0px;
    }
    div.magik-slideshow .row > div.col-sm-12 {
        padding: 0px;
    }
    .footer-inner .footer-column:first-child {
        margin-left: -90px;
    }
    .footer-inner .footer-column {
        width: 60%;
        padding-left: 20px;
    }
    #rev_slider_4_wrapper .info.main-banner-text.slider-1 {
        width: 145px;
        margin-left: 8%;
        top: 0%;
    }
    .slider-1 .tp-caption.button-suscribe-distribution a.buy-btn {
        bottom: -30px;
        left: -20px;
    }
    #rev_slider_4_wrapper .info.main-banner-text.slider-2 {
        width: 210px;
        margin-left: 6%;
        top: 5%;
    }
    .slider-2 .tp-caption.button-suscribe-distribution a.buy-btn {
        bottom: -45px;
        left: -15px;
    }
    #rev_slider_4_wrapper .info.main-banner-text.slider-3 {
        width: 230px;
        margin-left: 10%;
        top: 2%;
    }
    .slider-3 .tp-caption.button-suscribe-distribution a.buy-btn {
        bottom: -90px;
        left: -30px;
    }
    .main-banner-text .tp-caption.LargeTitle,
    .main-banner-text .tp-caption.Title,
    .tp-caption.button-suscribe-distribution a.buy-btn {
        text-align: left !important; 
    }
    .main-banner-text .tp-caption.LargeTitle span {
        font-size: 20px !important;
    }
    .main-banner-text .tp-caption.Title {
        display: block; 
        font-size: 10px !important;
        margin-top: 5px !important;
    }
    .main-banner-text.slider-2 .tp-caption.Title {
        margin-left: 25px !important;
        margin-right: -25px !important;
    }
    div.header-container .top-cart-wrapper {
        width: 25%;
        padding-left: 5px;
    }
    nav.navcls {
        display: block;
        background-color: #718d39;
    }
    div#nav-panel {
        background: #FFF;
    }
    #nav-panel .accordion-menu li.menu-item > a,
    #nav-panel .accordion-menu li.menu-item > h5 {
        color: #858585 !important;
    }
    #nav-panel ul.accordion-menu {
        color: #858585;
    }
    #nav-panel .accordion-menu li.menu-item.active > a,
    #nav-panel .accordion-menu li.menu-item.active > h5, 
    #nav-panel .accordion-menu li.menu-item.active > span,
    #nav-panel .accordion-menu li.menu-item:hover > a, 
    #nav-panel .accordion-menu li.menu-item:hover > h5,
    #nav-panel .accordion-menu li.menu-item:hover > span {
        background-color: #718d39 !important;
        color: #FFF !important;
    }
    .mobile-search {
        padding-top: 30px !important;
    }
    div.search-box {
        width: 100% !important;
    }
    span.glyphicon {
        line-height: 25px;
    }
    .mobile-search button.search-btn-bg {
        background-color: #718d39;
        color: #fff;
        right: 0px;
        height: 100%;
    }
    ul.top-links1 li ul li:last-child a {
        padding: 5px 5px !important;
    }
    ul.top-links1 li:last-child a {
        padding: 5px !important;
    }
    ul.mobile-menu li,
    ul.top-links1 li {
        border-bottom: 1px solid #858585;
    }
    ul.top-links1 li:last-child {
        border-bottom: 0px;
    }
    .contact-banner-column {
        height: 100px;
    }
    .page-id-37 div.breadcrumbs .container .row {
        margin-top: 110px;
    }
    .page-id-37 .static-contain .page-title {
        margin-top: 140px;
    }
    .contact-info-column {
        width: 100%;
        padding-top: 40px;
    }
    .contact-form-column {
        width: 100%;
    }
    .nf-field-container.firstname-container,
    .nf-field-container.lastname-container, 
    .nf-field-container.email-container, 
    .nf-field-container.phone-container {
        width: 100%;
    }
    .nf-field-element textarea {
        height: 100px !important;
    }
    html[lang="es-ES"] .bottom-banner-section .banner-inner {
        width: 100%;
        margin-left: 0%;
    }
    .container .sidebar {
        margin-bottom: 30px;
    }
    .container .pro-grid {
        padding-left: 10px;
    }
}